
.CardBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    border-radius: 5px;
    background-color: #DEDEDE;
    border: 1px solid #CCC;
    font-family: Helvetica;

}

img{
    width: 200px;
    border: 10px
}

.titulo{
    font-size: 12px;
}

.autor{
    font-size: 10px;
}